.screen{
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 600px;
    background:  #f7f7f7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 130px;
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
   width: 1280px;
   height: 106px;
   background:  #FFFF 0% 0% no-repeat padding-box;
   opacity: 1;
}

.Address-text{
    display: flex;
    flex-flow: column;
    margin-top: 0px;
}
.addresstxt{
    width: 112px;
    height: 27px;
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;

}
.booktxt{
    top: 25px;
    width: 70px;
    height: 27px;
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;

}
.bookimg{
    top: 37px;
    left: 190px;
    width: 43px;
    height: 43px;
    background:  #ccdded 0% 0% no-repeat padding-box;
    opacity: 1;
}